@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    background-color: hsl(217, 19%, 24%);
    width: 38.5vw;
    border-radius: 1em;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}
h1{
    color: hsl(150, 100%, 66%);
    font-size: .75em;
    letter-spacing: .4em;
    margin-top: 1em;
}
p{
    text-align: center;
    font-size: 1.75em;
    color: hsl(193, 38%, 86%);
    margin: 1em auto 1.5em;
}
img{
    margin-bottom: 2.25em;
}
.dice{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
}
.dice:hover{
    box-shadow: 0 0 40px hsla(150, 100%, 66%, .8);
    cursor: pointer;
}
.dice img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 430px){
    main{
        width: 90vw;
    }
    .wrapper{
        padding: 1em;
    }
    p{
        font-size: 1.5em;
    }
}